<h1>Sports! Combine Edition</h1>
<div>
  <input type="text" #searchtext placeholder="Search">
  <button type="button" (click)="search(searchtext.value)">Search</button>
  <ul>
    <li *ngFor="#player of players">
      <h2>{{player.fname}} {{player.lname}}, the {{player.pos1}} from {{player.col}}</h2>
      <h4>Part of the {{player.start}} draft class, he was born in {{player.yob}}.</h4>
      <p>Measured {{player.height}} inches tall and weighed in at {{player.weight}} pounds.</p>
      <p>Ran a {{player.forty}} forty.</p>
      <p>Benched for {{player.bench}} reps.</p>
      <p>Leapt for a {{player.vertical}} inch vertical.</p>
    </li>
  </ul>
</div>
